<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1>Tour of Heroes</h1>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Daschboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Heroes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  class="btn-group-vertical button mt-4 mb-2 ml-3"
  role="group"
  aria-label="Button group with nested dropdown"
>
  <button
    type="button"
    class="btn btn button-item"
    (click)="onSelect(hero)"
    *ngFor="let hero of heroes"
  >
    <span class="ID">{{ hero.id }}</span
    >{{ hero.name }}
  </button>

  <div class="input-group input-group-lg" *ngIf="selectedHero">
    <span class="input-group-text" id="inputGroup-sizing-lg">{{selectedHero.id}}</span>
    <input  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"  [(ngModel)]="selectedHero.name">
  </div>
  <app-hero-detail [hero]="selectedHero"></app-hero-detail>

